<div class="container">
  <div class="row">
    <div class="col-md-12">
    

      
      <div class="row">
        <div class="col-md-8">

          <h3 class="text-center">Post List</h3>
          <div>
            <a href="#" class="btn btn-primary" [routerLink]="['/posts/add']">Add Post</a>
          </div>
          <table class="table table-striped" *ngIf="posts|async as postData">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postData">
                <th scope="row">{{post.id}}</th>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td>
                  <button class="btn btn-info" [routerLink]="['edit',post.id]" >Edit Post</button>&nbsp;
                  <button class="btn btn-danger" (click)="onDeletePost(post.id)">Delete Post</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-md-4">
         <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>